.index {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #000000;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.index .overlap {
  background-color: #000000;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.index .meuseventosnovo {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 114px;
  letter-spacing: -0.25px;
  line-height: normal;
  position: absolute;
  top: 141px;
  white-space: nowrap;
}

.index .textwrapper {
  color: #747474;
}

.index .span {
  color: #ffffff;
}

.index .arrowleftcircle {
  height: 51px;
  left: 42px;
  position: absolute;
  top: 132px;
  width: 51px;
}

.index .overlapgroup {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 598px;
  position: absolute;
  top: 429px;
  width: 126px;
}

.index .chevrondown {
  height: 18px;
  left: 107px;
  position: absolute;
  top: 8px;
  width: 13px;
}

.index .textwrapper2 {
  color: #414141;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 14px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.index .textwrapper3 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 253px;
}

.index .textwrapper4 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 774px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 253px;
}

.index .textwrapper5 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 330px;
}

.index .textwrapper6 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 482px;
}

.index .textwrapper7 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 549px;
}

.index .textwrapper8 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 774px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 330px;
}

.index .textwrapper9 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 619px;
}

.index .textwrapper10 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 774px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 481px;
}

.index .textwrapper11 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 774px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 601px;
}

.index .p {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 774px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 670px;
}

.index .textwrapper12 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 775px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 407px;
  width: 104px;
}

.index .textwrapper13 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 391px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 390px;
}

.index .textwrapper14 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 492px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 390px;
}

.index .textwrapper15 {
  color: #747474;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 601px;
  letter-spacing: -0.12px;
  line-height: normal;
  position: absolute;
  top: 390px;
}

.index .divwrapper {
  background-color: #171717;
  border: 1px solid;
  border-color: #33a0e8;
  border-radius: 5px;
  height: 34px;
  left: 387px;
  position: absolute;
  top: 275px;
  width: 337px;
}

.index .textwrapper16 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 14px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.index .overlap2 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 275px;
  width: 337px;
}

.index .overlap3 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 387px;
  position: absolute;
  top: 352px;
  width: 337px;
}

.index .overlap4 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 387px;
  position: absolute;
  top: 503px;
  width: 337px;
}

.index .textwrapper19 {
  color: #414141;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 17px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.index .overlap5 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 387px;
  position: absolute;
  top: 572px;
  width: 337px;
}

.index .overlap6 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 628px;
  width: 337px;
}

.index .overlap7 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 694px;
  width: 337px;
}

.index .textwrapper20 {
  color: #414141;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 17px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.index .overlap8 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 352px;
  width: 337px;
}

.index .img {
  height: 18px;
  left: 310px;
  position: absolute;
  top: 8px;
  width: 18px;
}

.index .overlap9 {
  background-color: #171717;
  border-radius: 5px;
  height: 87px;
  left: 387px;
  position: absolute;
  top: 641px;
  width: 337px;
}

.index .textarea {
  height: 15px;
  left: 320px;
  object-fit: cover;
  position: absolute;
  top: 69px;
  width: 15px;
}

.index .overlap10 {
  background-color: #171717;
  border-radius: 5px;
  height: 87px;
  left: 770px;
  position: absolute;
  top: 505px;
  width: 337px;
}

.index .overlap11 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 429px;
  width: 337px;

}
.imgfinal{
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 770px;
  position: absolute;
  top: 435px;


}

.index .textwrapper21 {
  color: #414141;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 18px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 185px;
}

.index .textwrapper22 {
  color: #33a0e8;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 272px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.index .overlap12 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  height: 34px;
  left: 387px;
  position: absolute;
  top: 410px;
  width: 34px;
}

.index .textwrapper23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 8px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.index .overlap13 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 488px;
  position: absolute;
  top: 410px;
  width: 34px;
}

.index .overlap14 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 429px;
  position: absolute;
  top: 431px;
  width: 34px;
}

.index .overlap15 {
  background-color: #171717;
  border-radius: 5px;
  height: 34px;
  left: 530px;
  position: absolute;
  top: 431px;
  width: 34px;
}

.index .textwrapper24 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 423px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 439px;
}

.index .textwrapper25 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 524px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 439px;
}

.index .group {
  height: 34px;
  left: 930px;
  position: absolute;
  top: 750px;
  width: 179px;
}

.index .overlapgroup2 {
  background-image: url(https://cdn.animaapp.com/projects/655fc369c485099130b690f9/releases/655fc39084f33ca76ac7e557/img/rectangle-37-1.svg);
  background-size: 100% 100%;
  height: 34px;
  position: relative;
  width: 177px;
}

.index .textwrapper26 {
  color: #090909;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 20px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.index .overlapwrapper {
  height: 34px;
  left: 824px;
  position: absolute;
  top: 750px;
  width: 98px;
}

.index .overlap16 {
  background-image: url(https://cdn.animaapp.com/projects/655fc369c485099130b690f9/releases/655fc39084f33ca76ac7e557/img/rectangle-39-1.svg);
  background-size: 100% 100%;
  height: 34px;
  position: relative;
  width: 96px;
}

.index .textwrapper27 {
  color: #6a6a6a;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 20px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.index .group2 {
  background-color: #333333;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1440px;
}

.index .logo {
  height: 26px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 133px;
}

.index .frame {
  height: 23px;
  left: 1320px;
  position: absolute;
  top: 22px;
  width: 23px;
}

.index .frame2 {
  height: 21px;
  left: 1360px;
  position: absolute;
  top: 22px;
  width: 21px;
}

.index .vector {
  height: 15px;
  left: 1398px;
  position: absolute;
  top: 25px;
  width: 23px;
}

.index .textwrapper28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 1184px;
  letter-spacing: -0.18px;
  line-height: normal;
  position: fixed;
  top: 21px;
}

.button2{
  color: #090909;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 0px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 0px;
  width: 100px;
  height: 35px;
  background: transparent;
  border: none;
}

.button1{
  color: #090909;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 0px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 0px;
  width: 180px;
  height: 35px;
  background: transparent;
  border: none;
}

.index .rectangle {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 386px;
  position: absolute;
  top: 275px;
  width: 335px;
}

.index .rectangle1 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 275px;
  width: 335px;
}

.index .rectangle2 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 386px;
  position: absolute;
  top: 350px;
  width: 335px;
}

.index .rectangle3 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 625px;
  width: 335px;
}

.index .rectangle4 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 770px;
  position: absolute;
  top: 695px;
  width: 335px;
}

.index .rectangle5 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 90px;
  left: 770px;
  position: absolute;
  top: 505px;
  width: 335px;
}

.index .rectangle6 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 386px;
  position: absolute;
  top: 505px;
  width: 335px;
}

.index .rectangle7 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 34px;
  left: 386px;
  position: absolute;
  top: 570px;
  width: 335px;
}

.index .rectangle8 {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  height: 85px;
  left: 386px;
  position: absolute;
  top: 645px;
  width: 335px;
}